nav {
	text-align: center;
	
	.item {
		width: 150px;
		height:40px;
		font-size: 25px;
		display:inline-block;
		border:1px solid black;
		border-radius: 6px;
		margin-right:10px;
		text-align: center;
		text-decoration: none;
	}

	.item:focus {
		background-color: blue;

	} 

	.item:hover {
		background-color:blue ;
	}

	.item:visited {
		text-decoration: none;
	}
}
